<div class="contenedor">
    <div class="principal row align-items-center justify-content-between">
        <div class="col-6">
            <p class="ttl">Hola</p>
            <p class="txtNombre">Nombre</p>
        </div>
        <div class="col-6 col-md-2">
            
                <button class="cntBtnPerfil btnPerfil"> <span class="txtPerfil">Perfil</span>
                  <img class="iconPerfil" src="./assets/Images/Icons/XMLID_197_.svg">
                  <!--span class=" iconPerfil badge badge-secondary">&#8250;</span-->
                </button>
                <img class="iconInfo" src="./assets/Images/Icons/info.svg">
            
            
        </div>
    </div>
</div>

