<div class="contenedor">
    <div class="principal row">
        <div class="col-3 mx-0 px-0" (click)="noti(1)">
            <div class="cntIcon">
                <img src="./assets/Images/menu/perfilx2.png" alt="">
                <!--span class=" badgeIcon badge badge-secondary">&#9679;</span-->
            </div>
            <p class="txtIcon">Vista general de la cuenta</p>
        </div>
        <div class="col-3 mx-0 px-0" (click)="noti(1)">
            <div class="cntIcon noSelect">
                <img src="./assets/Images/menu/editarx2.png" alt=""> 
                <span class=" badgeIcon badge badge-secondary">&#9679;</span>
            </div>
            <p class="txtIcon">Editar perfil</p>
        </div>
        <div class="col-3 mx-0 px-0 deshabilitar">
            <div class="cntIcon noSelect">
                <img src="./assets/Images/menu/desbloquear2x.png" alt="">
                <span class=" badgeIcon badge badge-secondary">&#9679;</span>
            </div>
            <p class="txtIcon">Cambio de contraseña</p>
        </div>
        <div class="col-3 mx-0 px-0" (click)="noti(4)">
            <div class="cntIcon noSelect">
                <img src="./assets/Images/menu/notificacionesx2.png" alt="">
                <span class=" badgeIcon badge badge-secondary">&#9679;</span>
            </div>
            <p class="txtIcon">Configuración de notificaciones</p>
        </div>
    </div>
</div>
